html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#page-wrap {
    width: 380px;
    margin: 0 auto;
}
.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}



.footer {
    font-family: "Tahoma", sans-serif;
    font-weight: bolder;
    font-size: 12px;
    height: 30px;
    margin: auto;
    width: 400px;
    text-align:center;
    padding:10px;
    color: #238014;
    position:fixed;
    bottom: 10px;
}
.formtitle
{
    text-shadow:1px 1px 1px rgba(173,255,10,1);
    color:#000000;
    letter-spacing:2pt;
    word-spacing:1pt;
    font-size:24px;
    text-align:left;
    float: left;
    font-family:tahoma, verdana, arial, sans-serif;line-height:1;
}

.signupMessage {
    color: #FF0000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: left; 
    width: 100%; 
}

.signinFailMessage {
    color: #FF0000;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    /*font-weight: bold;*/
    text-align: left; 
    width: 300px;
    margin-right: 10px;
    float: left;
}

.signinMessage{color: #43A047;
               font-family: Verdana, Geneva, sans-serif;
               font-size: 10px;
               /*font-weight: bold;*/
               text-align: left; 
               width: 380px;   

}